@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* blockquote in foreign-language */
blockquote[xml|lang]{
	font-style: italic;
}
/* end of foreign-language blockquote */

/* centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* end of centered dedications */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

/* elision ⋮ */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of poem/verse/song */

/* custom CSS */
#albert-savarus{
	margin-top: 20vh;
}

/* relax margins on embedded “novel” */
blockquote:nth-of-type(2){
	margin-left: 0;
	margin-right: 0;
}

blockquote:nth-of-type(2) header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

blockquote:nth-of-type(3) header p{
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:recipient"]{
	text-align: initial;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"] b{
	font-style: normal;
}

footer [epub|type~="se:letter.dateline"]{
	margin-top: 0;
}
/* end of custom CSS */
